@model ML.Aseguradora
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Form</h1>


<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>@ViewBag.Titulo</h3>
                <h5>Ingrese los datos</h5>
                <hr />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Form", "Aseguradora", FormMethod.Post, new { enctype = "multipart/fomr-data" }))
            {
            <div class="form-horizontal">

                <div class="form-group">

                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.IdAseguradora, new { @class = " hidden form-control ", })
                        @Html.ValidationMessageFor(model => model.IdAseguradora)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", })
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>
                </div>

                <!---->
                <div class="form-group">
                    @Html.LabelFor(model => model.Usuario.IdUsuario, new { @class = "control-label col-md-2 " })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.Usuario.IdUsuario, new { @class = "form-control", })
                        @Html.ValidationMessageFor(model => model.Usuario.IdUsuario)
                    </div>
                </div>


        @*        <div class="form-group">
                    @Html.LabelFor(model => model.Usuario.IdUsuario, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">

                        @Html.DropDownListFor(model => model.Usuario.IdUsuario, new SelectList(Model.Usuario.Usuarios, "IdUsuario", "Nombre"), "Selecciona una opcion", new { @class = "form-control" })
                    </div>
                </div>*@

                


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@ViewBag.Accion" class="btn btn-success" />
                    </div>
                </div>
            </div>

            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.ActionLink("Regresar", "GetAll", "Aseguradora", htmlAttributes: new { @class = "btn btn-danger" })
        </div>
    </div>
</div>

